<h1>Listing residents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Residence ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.name %></td>
        <td><%= resident.phone_number %></td>
        <td><%= resident.email %></td>
        <td><%= resident.residence_id %></td>
        <% if resident.residence.user == current_user %>
          <td><%= link_to 'Show', resident %></td>
          <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
          <td><%= link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Visit', visits_path %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Residences List', residences_path %>
<% if @res_id != nil %>
   | 
   <%= link_to 'Add New Resident', new_resident_path %>
<% end %>
