<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @resident.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resident.email %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @resident.residence_id %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Residences List', residences_path %> |
<%= link_to 'Residents List', residents_path %>
