<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @residence.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residence.description %>
</p>

<% if @residence.user == current_user %>
	<%= link_to 'Edit', edit_residence_path(@residence) %> |
<% end %>
<%= link_to 'Back', residences_path %>
