<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @residence.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residence.description %>
</p>

<p>
	<strong>Residents List:</strong>
</p>
<table>
	<thead>
    <tr>
      <th>Resident Name</th>
      <th>Resident Email</th>
      <th>Resident Phone Number</th>
    </tr>
 	</thead>
 	
	<tbody>
		<% if @residence.user == current_user %>
			<% @residence.residents.each do |resident| %>
		      <tr>
		        <td><%= resident.name %></td>
		        <td><%= resident.email %></td>
		        <td><%= resident.phone_number %></td>
		  <% end %>
		<% end %>
	</tbody>
</table>

<% if @residence.user == current_user %>
	<%= link_to 'Add New Resident', new_resident_path(residence_id: @residence.id) %> |
	<%= link_to 'Edit', edit_residence_path(@residence) %> |
<% end %>
<%= link_to 'Back', residences_path %>
